{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="{% static 'app/styles.css' %}" rel="stylesheet">
        <title>Sign Up!</title>
    </head>
    <!------ Include the above in your HEAD tag ---------->

    <body id="login-body">
        <div id="login">
            <div class="f">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        
                        <div id="login-box" class="col-md-12">

                            {% block body %}
                            {% endblock %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
